https://sonic-jenkins.westus2.cloudapp.azure.com/job/broadcom/job/buildimage-brcm-all/lastSuccessfulBuild/artifact/target/versions/*zip*/versions.zip
https://sonic-jenkins.westus2.cloudapp.azure.com/job/generic/job/buildimage-baseimage/lastSuccessfulBuild/artifact/sonic-buildimage/target/versions/*zip*/versions.zip
https://sonic-jenkins.westus2.cloudapp.azure.com/job/mellanox/job/buildimage-mlnx-all/lastSuccessfulBuild/artifact/target/versions/*zip*/versions.zip
https://sonic-jenkins.westus2.cloudapp.azure.com/job/centec/job/buildimage-centec-all/lastSuccessfulBuild/artifact/target/versions/*zip*/versions.zip
https://sonic-jenkins.westus2.cloudapp.azure.com/job/innovium/job/buildimage-invm-all/lastSuccessfulBuild/artifact/target/versions/*zip*/versions.zip
https://sonic-jenkins.westus2.cloudapp.azure.com/job/marvell/job/buildimage-mrvl-armhf-all/lastSuccessfulBuild/artifact/target/versions/*zip*/versions.zip
https://sonic-jenkins.westus2.cloudapp.azure.com/job/mellanox/job/buildimage-mlnx-all/lastSuccessfulBuild/artifact/target/versions/*zip*/versions.zip
https://sonic-jenkins.westus2.cloudapp.azure.com/job/nephos/job/buildimage-nephos-all/lastSuccessfulBuild/artifact/target/versions/*zip*/versions.zip
