[Unit]
Description=BGP container
#Requires=updategraph.service
#After=updategraph.service
After=database@%i.service 
Requires=database@%i.service
Before=ntp-config.service
PartOf=namespace@%i.target

[Service]
User=root
ExecStartPre=/usr/bin/{{docker_container_name}}.sh start %i
ExecStart=/usr/bin/{{docker_container_name}}.sh wait %i 
ExecStop=/usr/bin/{{docker_container_name}}.sh stop %i

[Install]
RequiredBy=namespace@%i.target
