[Unit]
Description=TEAMD container
#Requires=updategraph.service 
Requires=swss@%i.service
#After=updategraph.service 
After=swss@%i.service
Before=ntp-config.service
PartOf=namespace@%i.target

[Service]
User=root
ExecStartPre=/usr/bin/{{docker_container_name}}.sh start %i
ExecStart=/usr/bin/{{docker_container_name}}.sh wait %i
ExecStop=/usr/bin/{{docker_container_name}}.sh stop %i

[Install]
WantedBy=swss@%i.service
RequiredBy=namespace@%i.target
