# SONiC.{{ SONIC_VERSION }}

## Please help us improve our TSG's by clicking thumbs up or down on the right side of this page

> [!CAUTION]
> **Manually editing or doing pushes to this branch are not permitted, you are required to make any changes via a pull request using GIT from the Repo [PhynetTSG - Repos (visualstudio.com)](https://msazure.visualstudio.com/DefaultCollection/PhyNet/_git/PhynetTSG). **
>
>
> **AzureWiki changes/updates will not replicate into Eng.ms and is not allowed to be used for any Phynet alerting TSG by organization policy**
>

**[SONiC](https://aka.ms/sonic) Release Notes**
[[*TOC*]]

# Release Number

SONiC Release Number: {{ SONIC_VERSION }}

# Release Date
{{ RELEASE_DATE }}

# Summary

This release note is Microsoft confidential and only for Microsoft internal use.
This release is a feature release based on {{ SONIC_BRANCH }} branch, mainly targets for active-active dualtor (Libra) scenario. This image also targeting to be a general T1 image. As well as gold image candidate for Mellanox T0s.


# New features/enhancements added in this release

# Known Issues

# Change list

{{ RELEASE_NOTES }}

