# {{ SONIC_MAIN_VERSION }}

## Please help us improve our TSG's by clicking thumbs up or down on the right side of this page


-----

## **Additional Troubleshooting Resources**

[Phynet TSG Page](https://eng.ms/docs/cloud-ai-platform/azure-core/azure-networking/network-infra-nikothar/fabric-network-devices/phynettsg/wiki/tsg)
