[Unit]
Description=Update interfaces configuration
Requires=database@%i.service
After=database@%i.service

[Service]
Type=oneshot
ExecStart=/usr/bin/interfaces-config.sh %i

[Install]
RequiredBy=multi-user.target
