{% set path = env('PLATFORM_PATH') %}
[ ! -d {{ path }} ] && git clone {{ module.repo }} {{ path }};
cd {{ path }};
{% if module.ref is defined %}
git checkout {{ module.ref }} && git submodule update --init --recursive
{% else %}
git submodule update --init --recursive
{% endif %}
