{% set path = env('PLATFORM_PATH') %}
{% if module.ref is defined %}
git clone {{ module.repo }} {{ path }} && cd {{ path }} && git checkout {{ module.ref }} && git submodule update --init --recursive
{% else %}
git clone {{ module.repo }} {{ path }} && cd {{ path }} && git submodule update --init --recursive
{% endif %}
